.vs/*
*edit*/*
*original*/*
Tinke/*
*.nds
*.1
*.suo
*.v2
*.lock
*.vsidx
*.pdb
.gitignore_
*.7z
*.bak
/BMGRandomizerSharp/BMGRandomizerSharp/bin
/BMGRandomizerSharp/BMGRandomizerSharp/obj
/BMGRandomizerSharp/BMGRandomizerSharpGUI/bin
BMGRandomizerSharp/BMGRandomizerSharpGUI/BMGRandomizerSharpGUI.csproj.user
/BMGRandomizerSharp/BMGRandomizerSharpGUI/obj
/BMGRandomizerSharp/BMGRandomizerSharpGUI/Properties/PublishProfiles
/BMGRandomizerSharp/.vs
